<div class="container" *ngIf="submitted else codeForm" >
<div class="activate-message" *ngIf="isOkey else activationError">
    <h2>Activation sucessesful !</h2>
    <p>your account has been activated sucessesfully.</p>
    <button class="btn btn-primary" (click)="redirectToLogin()">Go to login</button>
</div>

</div>
<ng-template #activationError>
    <div class="activationError">
        <h2>Activation failed !</h2>
        <p>{{message}}</p>
        <button class="btn btn-primary" (click)="submitted=false">Try Again </button>
    </div>
</ng-template>
<ng-template #codeForm>
    <div class="container">
        <div class="text-center" style="width: 400px;">
            <h2>Type your Activation code</h2>
            <code-input [isCodeHidden]="false"
            [codeLength]="6"
            [code]="'number'"
         
            (codeCompleted)="onCodeCompleted($event)">
</code-input>
        </div>
    </div>
</ng-template>